{% extends "base-main-page2.html" %}

{% block content %}

<!-- SLIDER -->

<div class="owl-carousel owl-theme hero-slider">
  <div class="slide slide1">
      <div class="container">
          <div class="row">
              <div class="col-12 text-center text-white">
                  <h6 class="text-white text-uppercase">Let food be thy medicine and medicine be thy food</h6>
                  <h1 class="display-3 my-4">Hi<span class="dot">.</span> Welcome To Our<br>Food Application</h1>
                  {% if user.is_authenticated %}
                  <a href="{% url 'research' %}" class="btn btn-brand">Reseach Food</a>
                  <a href="{% url 'orders' %}" class="btn btn-outline-light ms-3">View Orders</a>
                  <a href="{% url 'research_resto' %}" class="btn btn-outline-light ms-3">Reseach Resto</a>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
  <div class="slide slide2">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1 text-white">
                  <h6 class="text-white text-uppercase">Tell me what you eat, and I will tell you who you are</h6>
                  <h1 class="display-3 my-4">Hi<span class="dot">.</span> Welcome To Our<br>Food Application</h1>
                  {% if user.is_authenticated %}
                  <a href="{% url 'research' %}" class="btn btn-brand">Reseach Food</a>
                  <a href="{% url 'orders' %}" class="btn btn-outline-light ms-3">View Orders</a>
                  <a href="{% url 'research_resto' %}" class="btn btn-outline-light ms-3">Reseach Resto</a>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock  %}